<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <!--allow roles="SuperAdmin" />-->
      <allow users="superadmin" />
      <deny users="?" />
      <!--<deny users="*" />-->
    </authorization>
  </system.web>
  <location path="CreateUsers.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="UniAdmin " />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
   <location path="Net_Report.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow users="isuser" />
        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminBackup.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow users="msh_admin" />

        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminPreferences.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="HighlightsEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="HighlightsEditor" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ResearchesEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="HighlightsEditor" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SentificResearches.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <!--<allow roles="HighlightsEditor" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />-->
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="GallaryEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="GallaryEditor" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="MenuEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="MenuEditor" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="NewsEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="NewsEditor" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="PageEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="PageEditor" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="browsers/ImageBrowser.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin" />
        <allow roles="FacAdmin" />
        <allow roles="NewsEditor" />
        <allow roles="DepAdmin" />
        <allow roles="PageEditor" />
        <allow roles="StaffRole" />
        <allow roles="HighlightsEditor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="browsers/LinkBrowser.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin" />
        <allow roles="NewsEditor" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="HighlightsEditor" />
        <allow roles="PageEditor" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Insert_Research_Fields.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin" />
        <allow roles="NewsEditor" />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="HighlightsEditor" />
        <allow roles="PageEditor" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="VotingEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="UniAdmin " />
        <allow roles="FacAdmin" />
        <allow roles="DepAdmin" />
        <allow roles="VotingEditor" />
        <allow roles="StaffRole" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="ThesisEditor.aspx">
    <system.web>
      <authorization>
        <allow users="superadmin" />
        <allow roles="ThesisEditor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>