<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MnfUniversity_Portals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="MnfUniversityConnectionString"
      connectionString="Data Source=.\SQLSeRVeR;Initial Catalog=MnfPortals;Integrated Security = True;MultipleActiveResultSets=true"/>-->
    <add name="MnfUniversityConnectionString" connectionString="Data Source=WIN-P291H5UCL1D;Initial Catalog=MnfPortals;Integrated Security=True" />

    <add name="misConnectionString"
      connectionString="Data Source=172.16.1.13;Initial Catalog=menofeya;User ID=portal.staff;Password=Jui@50liRE54!;MultipleActiveResultSets=true"/>
    <add name="ResultDBConnectionString"
      connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=ResultDB;Integrated Security=True;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
    <add name="MIS_PortalConnectionString"
      connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=MIS_Portal;Integrated Security=True;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
    <add name="menofeyaConnectionString"
      connectionString="Data Source=172.16.1.13;Initial Catalog=menofeya;User ID=portal.staff;Password=Jui@50liRE54!;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <caching>
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".aspx" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:30"/>
      </profiles>
    </caching>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
        type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
        type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd"
        type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
   <directoryBrowse enabled="false"/>

    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false"/>

    </httpHandlers>
    <identity impersonate="true"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Err" redirectMode="ResponseRewrite"/>
    <globalization culture="auto" enableBestFitResponseEncoding="true" enableClientBasedCulture="false" fileEncoding="utf-8" responseEncoding="utf-8"
      uiCulture="auto"/>
    <membership defaultProvider="AspNetSqlMembershipProviderTeleducationConnectionString" hashAlgorithmType="SHA1" userIsOnlineTimeWindow="10">
      <providers>
        <add name="AspNetSqlMembershipProviderTeleducationConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true"
          applicationName="Menoufia" connectionStringName="MnfUniversityConnectionString"
          description="Stores and retrieves membership data from the local Portal  Microsoft SQL Server database." maxInvalidPasswordAttempts="20"
          minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="1" passwordAttemptWindow="10" passwordFormat="Hashed"
          passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
          type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <!--<machineKey validationKey="7C6744F3DD2C6B6316B267DE871943ADE4EDB5DC0E92A40A772EBCE2DB0825D56EACF1372AE4E607D6A46DFE74C3AE0B2BFD620FE4A90B43A4A855525BFC1FC8" decryptionKey="A87C19F06FC83239290B7874D63885A80C6EFA581D6E5F980A38A78E8531" validation="SHA1"/>-->
    <profile defaultProvider="AspNetSqlProfileProviderTeleducationConnectionString">
      <providers>
        <add name="AspNetSqlProfileProviderTeleducationConnectionString" applicationName="Menoufia" connectionStringName="MnfUniversityConnectionString"
          type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </profile>
    <roleManager defaultProvider="AspNetSqlRoleProviderTeleducationConnectionString" enabled="true">
      <providers>
        <add name="AspNetSqlRoleProviderTeleducationConnectionString" applicationName="Menoufia" connectionStringName="MnfUniversityConnectionString"
          type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <!--
      The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <authentication mode="Forms">
      <forms defaultUrl="default.aspx" loginUrl="Login" slidingExpiration="true" timeout="120"/>
    </authentication>
    <pages enableEventValidation="false" smartNavigation="true" viewStateEncryptionMode="Always" clientIDMode="AutoID" compilationMode="Always"
      controlRenderingCompatibilityVersion="3.5" enableSessionState="true" maintainScrollPositionOnPostBack="true" validateRequest="false">
      <controls>
        <add namespace="CKEditor.NET" assembly="CKEditor.NET" tagPrefix="ajaxtk"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxtk"/>
        <add namespace="FancyImageZoom" assembly="FancyImageZoom" tagPrefix="fz"/>
        <add namespace="OboutInc.Show" assembly="obout_Show_Net" tagPrefix="obshow"/>
        <add tagPrefix="uc" tagName="MenuDetailsViewControl" src="~/UserControls/Editors/MenuEditor/Details/MenuDetailsViewUserControl.ascx"/>
        <add tagPrefix="uc" tagName="AdminMenu" src="~/UserControls/Viewers/AdminMenu.ascx"/>
        <add tagPrefix="uc" tagName="RSSViewer" src="~/UserControls/Viewers/RSSViewer.ascx"/>
        <add tagPrefix="uc" tagName="SubEntitiesViewer" src="~/UserControls/Viewers/SubEntitiesViewer.ascx"/>
        <add tagPrefix="uc" tagName="BannerViewer" src="~/UserControls/Viewers/BannerViewer.ascx"/>
        <add tagPrefix="uc" tagName="CommunicationViewer" src="~/UserControls/Viewers/CommunicationViewer.ascx"/>
        <add tagPrefix="uc" tagName="DetailsBasedControlTemplate" src="~/UserControls/Base/DetailsBasedControlTemplate.ascx"/>
        <add tagPrefix="uc" tagName="MenuViewer" src="~/UserControls/Viewers/MenuViewer.ascx"/>
        <add tagPrefix="uc" tagName="ErrorMessageViewer" src="~/UserControls/Viewers/ErrorMessageViewer.ascx"/>
        <add tagPrefix="uc" tagName="SearchBarViewer" src="~/UserControls/Viewers/SearchBarViewer.ascx"/>
        <add tagPrefix="uc" tagName="NewsBarViewer" src="~/UserControls/Viewers/NewsBarViewer.ascx"/>
        <add tagPrefix="uc" tagName="ArticleDetailsViewControl" src="~/UserControls/Editors/ArticleEditor/Details/ArticleDetailsViewUserControl.ascx"/>
        <add tagPrefix="uc" tagName="FileAbstractDetailsViewUserControl"
          src="~/UserControls/Editors/FileAbstractEditor/Details/FileAbstractDetailsViewUserControl.ascx"/>
        <add tagPrefix="uc" tagName="MenuEditorControl" src="~/UserControls/Editors/MenuEditor/Editor/MenuEditorUserControl.ascx"/>
        <add tagPrefix="uc" tagName="NewsDetailsViewControl" src="~/UserControls/Editors/NewsEditor/Details/NewsDetailsViewControl.ascx"/>
        <add tagPrefix="uc" tagName="NewsEditorControl" src="~/UserControls/Editors/NewsEditor/Editor/NewsEditorControl.ascx"/>
        <add tagPrefix="uc" tagName="ArticleEditorUserControl" src="~/UserControls/Editors/ArticleEditor/Editor/ArticleEditorUserControl.ascx"/>
        <add tagPrefix="uc" tagName="FileAbstractEditorUserControl" src="~/UserControls/Editors/FileAbstractEditor/Editor/FileAbstractEditorUserControl.ascx"/>
        <add tagPrefix="uc" tagName="VotingDetailsControl" src="~/UserControls/Editors/VotingEditor/Details/VotingDetailsControl.ascx"/>
        <add tagPrefix="uc" tagName="VotingEditorControl" src="~/UserControls/Editors/VotingEditor/Editor/VotingEditorControl.ascx"/>
        <add tagPrefix="uc" tagName="FDDL" src="~/UserControls/Common/FilterDropControl.ascx"/>
        <add tagPrefix="uc" tagName="ViewControl" src="~/UserControls/Viewers/ViewControl.ascx"/>
        <add tagPrefix="uc" tagName="VotingViewer" src="~/UserControls/Viewers/VotingViewer.ascx"/>
        <add tagPrefix="uc" tagName="LoginControl" src="~/UserControls/Common/LoginControl.ascx"/>

        <add tagPrefix="uc" tagName="EventDetailsControl" src="~/UserControls/Viewers/EventDetailsControl.ascx"/>

        <!--<add tagPrefix="uc" tagName="LoginControlContainer" src="~/UserControls/Viewers/LoginControlContainer.ascx"/>-->
        <add tagPrefix="uc" tagName="LanguageSelector" src="~/UserControls/Viewers/LanguageSelector.ascx"/>
        <add tagPrefix="uc" tagName="NewsDetailsControl" src="~/UserControls/Viewers/NewsDetailsControl.ascx"/>
        <add tagPrefix="uc" tagName="NewsViewerControl" src="~/UserControls/Viewers/NewsViewerControl.ascx"/>
        <add tagPrefix="uc" tagName="EventSliderControl" src="~/UserControls/Viewers/EventSliderControl.ascx"/>
        <add tagPrefix="uc" tagName="LoggingViewer" src="~/UserControls/Viewers/LoggingViewer.ascx"/>
        <add tagPrefix="uc" tagName="HighlightsDetailsViewControl" src="~/UserControls/Editors/HighlightsEditor/Details/HighlightsDetailsViewControl.ascx"/>
        <add tagPrefix="uc" tagName="HighlightsEditorControl" src="~/UserControls/Editors/HighlightsEditor/Editor/HighlightsEditorControl.ascx"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>

        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc"
          type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="2097151" executionTimeout="600" requestLengthDiskThreshold="15360"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="true" host="https://mu.menofia.edu.eg"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="FilesBase" value="PrtlFiles"/>
    <add key="FilesHomeServer" value="http://www.menofia.edu.eg"/
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <MnfUniversity_Portals.Properties.Settings>
      <setting name="Portals_localhost_Service1" serializeAs="String">
        <value>http://localhost/test2/Service1.asmx</value>
      </setting>
      <setting name="ResultsTimerInterval" serializeAs="String">
        <value>600000</value>
      </setting>
    </MnfUniversity_Portals.Properties.Settings>
  </applicationSettings>
</configuration>