<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Portal_DAL.Properties.Settings.misConnectionString" connectionString="Data Source=193.227.24.12;Initial Catalog=MisDB;Persist Security Info=True;User ID=admin;Password=admin"/>
        <add name="Portal_DAL.Properties.Settings.MnfUniversityConnectionString" connectionString="Data Source=193.227.24.12;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString" connectionString="Data Source=193.227.24.22;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString1" connectionString="Data Source=.;Initial Catalog=MnfPortals;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString2" connectionString="Data Source=193.227.24.22;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin;Password=P0rt@lAdm!n" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString3" connectionString="Data Source=193.227.24.22;Initial Catalog=MnfPortals;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString4" connectionString="Data Source=193.227.24.22\sqlserver;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString5" connectionString="Data Source=193.227.24.22\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString6" connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString7" connectionString="Data Source=193.227.24.22\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin;Password=P0rt@lAdm!n" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString8" connectionString="Data Source=193.227.24.22\SQLSERVER;Initial Catalog=MnfPortals;User ID=portal_admin;Password=P0rt@lAdm!n" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString9" connectionString="Data Source=193.227.24.22\SQLSERVER;Initial Catalog=MnfPortals;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString10" connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=MnfPortals;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString11" connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=MnfPortals;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString12" connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin;Password=P0rt@lAdm!n" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.menofeyaConnectionString" connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=menofeya;Persist Security Info=True;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString13" connectionString="Data Source=172.16.1.22\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString14" connectionString="Data Source=172.16.1.22\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin;Connect Timeout=600" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString15" connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin;Connect Timeout=600" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString16" connectionString="Data Source=BLADE-03\SQLSERVER;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin;Password=P0rt@lAdm!n;Connect Timeout=600" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString17" connectionString="Data Source=blade-03\sqlserver;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString18" connectionString="Data Source=BLADE-03\sqlserver;Initial Catalog=MnfPortals;Persist Security Info=True;User ID=portal_admin" providerName="System.Data.SqlClient"/>
        <add name="Portal_DAL.Properties.Settings.MnfPortalsConnectionString19" connectionString="Data Source=WIN-P291H5UCL1D;Initial Catalog=MnfPortals;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
